
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87); 
  background-image: url('https://c4.wallpaperflare.com/wallpaper/698/917/306/minimalism-simple-blue-gradient-wallpaper-preview.jpg');
  font-synthesis: none;
  background-size: cover; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #0088cc; 
  text-decoration: none;
}
a:hover {
  color: #005580; 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #333; 
}



.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: top;
}



.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px;
  font-family: 'Times New Roman', Times, serif;
  background-image: url('https://i.pinimg.com/474x/4a/07/fb/4a07fb5da20f1901057339f36bc39c5e.jpg');
  background-size: cover; 
  background-position: center; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

.input-container input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.input-container button {
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

.input-container button:hover {
  background-color: #0056b3;
}

.filter-container {
  margin-bottom: 20px;
}

.filter-container label {
  font-size: 16px;
  color: white;

}
th,
td {
  padding: 12px;
  text-align: center;
  margin: 30px; 
}

th {
  color: white;
  font-weight: bold;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

button {
  padding: 5px 10px; 
  font-size: 14px; 
  border: none;
  border-radius: 3px; 
  background-color: red;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darkred;
}




